  /* .example-spacer {
    flex: 1 1 auto;
  } */

  .navbar {
    height: 50px;
    margin-top: 0%;
    padding-top: 0%;
    position: fixed;
    z-index: 3;
}  
.navbar li a:hover {
    background-color: rgb(51, 51, 51);
    color: #fff;
  }
  .login{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
