<!-- <div style="height: 100vh;"> -->
  <div style="height: 100px;" >
  <mat-toolbar class="navbar navbar-expand-sm navbar-light">

    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span>BuzzUp</span> -->
      <img src="src/buzzuplogo.png" style="max-height: 150%">

      <span class="example-spacer"></span>
      <div class="login" fxShow="true">
        <a href="#" mat-button>
          <mat-icon >account_box</mat-icon>
          Login
        </a>
      </div>
     
    </mat-toolbar-row>
  </mat-toolbar>

 
